<h1>File Upload</h1>
<% form_tag(uploadfile_upload_index_path,:method => 'post', :multipart => true) do %>
<p><label for="upload_file">Select File</label> :
<%= file_field 'upload', 'datafile' %></p>
<%= file_field 'upload1', 'datafile1' %></p>
<%= submit_tag "Upload" %>
<% end %>